.exam-card {
  margin-bottom: 20px;
  transition: transform 0.2s;
  height: 100%;
}

.exam-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-image {
  object-fit: cover;
  height: 200px;
}

mat-card-title {
  font-weight: bold;
}

mat-card-content {
  padding: 16px;
}

p {
  margin: 8px 0;
}

.total-score {
  font-size: 18px;
  color: #4caf50;
  font-weight: bold;
  margin-top: 10px;
}
